@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");

/* top banner */
.about__top__banner {
  background-image: url(../Image/banner1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  padding: 30px 70px;
  color: #fff;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%);
  text-align: justify;
}
.about__top__banner > h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}
.about__top__banner > p {
  font-size: 1.3rem;
  line-height: 1.2;
  margin: 0 auto 10px;
}

/* goal section */
.goal__section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  margin-top: 70px;
}
.goal__section > .goal {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 20px 0;
  flex-wrap: wrap;
}
.goal__section > .goal > h1,
.goal__section > .goal > p {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
}
.goal__section > .goal > h1 {
  background-image: url(../Image/short__banner1.svg);
  width: 30%;
  font-size: 2.5rem;
}
.goal__section > .goal > p {
  background-image: url(../Image/short__banner2.svg);
  width: 70%;
  font-size: 1.6rem;
  padding: 50px;
}

/* certificate section */
.certificate__section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;
  width: 100%;
}
.certificate__section > h1 {
  color: #595959;
  font-size: 3rem;
}
.certificate__section > .certificate {
  width: 100%;
}

/* work section */
.work__section {
  background-image: url(../Image/banner6.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 80px 50px;
}
.work__section > h1 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 50px;
}
.work__section > .work {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: auto;
}

/* voting section */
.voting__section {
  display: flex;
  margin-top: 70px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.voting__section > h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #595959;
  margin-bottom: 50px;
}
.voting {
  background: linear-gradient(rgba(17, 55, 70, 0.8), rgba(17, 55, 70, 8)),
    url(../Image/banner7.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
.voting > h1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 80px;
}
.vote__section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.vote__section > h1 {
  text-align: center;
  font-size: 2.2rem;
  line-height: 1.7;
}
.vote__section > h1 > span {
  color: #56b124;
}
.vote {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.vote > button {
  width: 250px;
  height: 250px;
  background-color: #56b124;
  border-radius: 100%;
  outline: none !important;
  cursor: pointer;
  font-size: 1.5rem;
  color: #fff;
  border: 3px solid #fff;
  text-decoration: none;
}

.vote > p {
  font-size: 2rem;
  margin-top: 30px;
  font-weight: bold;
}

/* join team section */
.join__team__section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  width: 100%;
}
.join__team__section > .left__side,
.join__team__section > .right__side {
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
}
.join__team__section > .left__side {
  background-image: url("../Image/short__banner3.svg");
}
.join__team__section > .left__side > h1 {
  font-size: 3rem;
}
.join__team__section > .right__side {
  background-image: url("../Image/short__banner4.svg");
}
.join__team__section > .right__side > h1 {
  font-size: 1.5rem;
  margin-bottom: 50px;
  width: 90%;
}
.join__team__section > .right__side > .join__team__button {
  padding: 13px 50px;
  background-color: #56b124;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #fff;
  transition: 0.3s;
  border: 3px solid #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
.join__team__section > .right__side > .join__team__button:hover {
  background-color: #05242a;
  border: 3px solid #fff;
}

/* team member section */
.team__member__section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 70px 0 100px;
}
.team__member__section > h1 {
  font-size: 2.5rem;
  color: #595959;
  text-align: center;
  margin-bottom: 50px;
}
.about__carousel__section {
  width: 100%;
}
.team__member {
  width: 28%;
  margin: auto;
  max-width: 380px;
}
.member {
  width: 100%;
}
.member > img {
  width: 100%;
  height: 400px;
}
.member > div {
  background: linear-gradient(#78d347, #1c4b03);
  text-align: center;
  color: #fff;
  margin-top: 5px;
  padding: 15px;
}
.member > div > h1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 10px;
}
.member > div > p {
  font-size: 1.1rem;
  font-family: "Noto Serif", serif;
}

/* 1024px */
@media only screen and (max-width: 1024px) {
  /* top banner */
  .about__top__banner {
    height: 600px;
  }

  /* certificate section */
  .certificate__section {
    margin-top: 50px;
  }

  /* voting section */
  .vote__section {
    justify-content: space-between;
  }

  /* join team section */
  .join__team__section > .right__side > h1 {
    width: 100%;
  }

  /* team member section */
  .team__member {
    width: 32%;
  }
  .member > img {
    height: 350px;
  }
}

/* 768px */
@media only screen and (max-width: 768px) {
  /* top banner */
  .about__top__banner {
    clip-path: none;
  }
  .about__top__banner > h1 {
    font-size: 2.5rem;
  }
  .about__top__banner > p {
    font-size: 1.3rem;
    line-height: 1.5;
  }

  /* goal section */
  .goal__section > .goal > h1 {
    background-image: url(../Image/short__banner1.svg);
    width: 30%;
    font-size: 2.1rem;
  }
  .goal__section > .goal > p {
    background-image: url(../Image/short__banner2.svg);
    width: 70%;
    font-size: 1.4rem;
    padding: 30px;
  }

  /* certificate section */
  .certificate__section {
    margin-top: 30px;
  }
  .certificate__section > h1 {
    font-size: 2.5rem;
  }

  /* work section */
  .work__section {
    padding: 50px 40px;
    background-image: none;
    background-color: #eeeeee;
  }
  .work__section > h1 {
    font-size: 2.5rem;
    color: #595959;
    margin-bottom: 30px;
  }

  /* voting section */
  .voting__section {
    margin-top: 60px;
  }
  .voting {
    padding: 70px 40px;
    background-image: none;
    background-color: #05242a;
  }
  .vote > button {
    width: 200px;
    height: 200px;
    font-size: 1.3rem;
  }

  /* join team section */
  .join__team__section > .left__side > h1 {
    font-size: 2.5rem;
  }
  .join__team__section > .right__side > h1 {
    font-weight: normal;
  }

  /* team member section */
  .team__member {
    width: 43%;
  }
}

/* 480px */
@media only screen and (max-width: 480px) {
  /* top banner */
  .about__top__banner {
    padding: 20px 15px;
    height: 650px;
    text-align: center;
  }
  .about__top__banner > h1 {
    font-size: 2.2rem;
  }
  .about__top__banner > p {
    font-size: 1.2rem;
    line-height: 1.5;
    width: 100%;
  }

  /* goal section */
  .goal__section {
    margin-top: 30px;
  }
  .goal__section > .goal > h1,
  .goal__section > .goal > p {
    width: 100%;
  }
  .goal__section > .goal > h1 {
    background-image: none;
    background-color: #05242a;
    height: auto;
    font-size: 1.8rem;
    padding: 20px;
    order: 1;
  }
  .goal__section > .goal > p {
    height: auto;
    padding: 25px;
    order: 2;
  }

  /* certificate section */
  .certificate__section {
    margin-top: 30px;
  }
  .certificate__section > h1 {
    font-size: 2rem;
  }

  /* work section */
  .work__section {
    padding: 40px 10px;
  }
  .work__section > h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  /* voting section */
  .voting {
    padding: 40px 20px;
  }
  .voting__section > h1 {
    font-size: 2rem;
  }
  .voting > h1 {
    font-size: 1.25rem;
    margin-bottom: 50px;
  }
  .vote__section {
    flex-direction: column;
    justify-content: center;
  }
  .vote__section > h1 {
    margin: 30px 0;
    font-size: 2rem;
    order: 1;
  }
  .vote {
    order: 2;
    margin: 30px 0;
  }
  .vote > p {
    font-size: 1.7rem;
    margin-top: 20px;
    font-weight: normal;
  }

  /* join team section */
  .join__team__section {
    flex-direction: column;
    margin-top: 50px;
  }
  .join__team__section > .left__side,
  .join__team__section > .right__side {
    width: 100%;
  }
  .join__team__section > .left__side {
    height: auto;
    padding: 30px;
  }
  .join__team__section > .left__side > h1 {
    font-size: 2rem;
  }
  .join__team__section > .right__side {
    height: auto;
    padding: 40px;
  }
  .join__team__section > .right__side > h1 {
    margin-bottom: 30px;
  }

  /* team member section */
  .team__member__section {
    margin: 50px 0;
  }
  .team__member__section > h1 {
    font-size: 2rem;
    margin-bottom: 40px;
  }
  .team__member {
    width: 70%;
  }
  .member > img {
    height: 300px;
  }
}

/* 360px */
@media only screen and (max-width: 360px) {
  /* top banner */
  .about__top__banner {
    padding: 20px 10px;
    height: 700px;
  }

  /* certificate section */
  .certificate__section {
    margin-top: 25px;
  }
  .certificate__section > h1 {
    font-size: 1.8rem;
  }

  /* voting section */
  .voting__section {
    margin-top: 40px;
  }
  .voting {
    padding: 30px 10px;
    background-image: none;
    background-color: #05242a;
  }
  .voting__section > h1 {
    font-size: 1.8rem;
    margin-bottom: 40px;
  }

  .vote__section > h1 {
    margin: 25px 0;
  }

  /* join team section */
  .join__team__section {
    margin-top: 50px;
  }

  /* team member section */
  .team__member__section > h1 {
    font-size: 1.8rem;
  }
  .team__member {
    width: 75%;
  }
  .member > img {
    height: 280px;
  }
}
