/* empty cart */
.empty__cart {
  margin: 150px 0;
  text-align: center;
}
.empty__cart > h1 {
  color: #555555;
  margin-bottom: 40px;
}

/* cart step 1 */
.cart__step {
  margin: 50px 0;
  text-align: center;
}
.cart__step > h1 {
  font-size: 2.5rem;
}
.cart__button {
  padding: 12px 50px;
  font-size: 1.2rem;
  background-color: #56b124;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  border: none !important;
  outline: none !important;
  border-radius: 50px;
  text-decoration: none;
  margin: 10px;
}
.cart__button:hover {
  background-color: #05242a;
}

/* cart table */
.cart__table {
  width: 100%;
  padding: 50px 0;
  max-width: 1300px;
  margin: auto;
}
.cart__table > p {
  color: #777777;
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.1rem;
  display: none;
}
.cart__table > table {
  width: 100%;
}
.cart__table > table,
.cart__table > table > tr,
.cart__table > table > tr > th,
.cart__table > table > tr > td {
  border: 2px solid;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}
.cart__table > table > tr > th {
  font-size: 1.2rem;
}
.cart__table > table > tr > td {
  font-size: 1.1rem;
}
.cart__table > table > tr > td > button {
  border: none !important;
  outline: none !important;
  background: transparent;
  cursor: pointer;
}
.cart__table > table > tr > td > button:hover > .MuiSvgIcon-root {
  color: red;
  transition: 0.3s;
}
.cart__table > h1 {
  color: #555555;
  font-size: 1.5rem;
  margin-top: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart__table > h1 > span {
  color: #56b124;
  margin-left: 10px;
}

/* cart pickup input */
.cart__pickup__input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 70px 0 30px;
}
.cart__pickup__input > .input {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart__pickup__input > .input > div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 0 30px;
}
.cart__pickup__input > .input > div > label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.cart__pickup__input > .input > div > input,
.cart__pickup__input > .input > div > select {
  padding: 15px;
  border: 1px solid #666666;
  outline: none !important;
  border-radius: 50px;
  width: 350px;
  margin-bottom: 20px;
  font-size: 1rem;
}

/* final pickup address */
.final__pickup__address {
  margin: 30px 0;
}
.final__pickup__address > .pickup__address {
  width: 80%;
  max-width: 1300px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  border: 2px solid;
  padding: 30px;
  margin: 50px auto;
}
.final__pickup__address > .pickup__address > .left__side,
.final__pickup__address > .pickup__address > .right__side {
  width: 50%;
  text-align: left;
}
.final__pickup__address > .pickup__address > .left__side > p,
.final__pickup__address > .pickup__address > .right__side > p {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.final__pickup__address > .pickup__address > .left__side > p > span,
.final__pickup__address > .pickup__address > .right__side > p > span {
  font-weight: normal;
  color: #555555;
}

/* 1024px */
@media only screen and (max-width: 1024px) {
  /* cart table */
  .cart__table {
    width: 90%;
  }

  /* final pickup address */
  .final__pickup__address > .pickup__address {
    width: 90%;
  }
}

/* 768px */
@media only screen and (max-width: 768px) {
  /* empty cart */
  .empty__cart {
    margin: 100px 0;
  }

  /* cart step 1 */
  .cart__step > h1 {
    font-size: 2.2rem;
  }

  /* cart pickup input */
  .cart__pickup__input {
    margin: 60px 0 20px;
  }
  .cart__pickup__input > .input {
    flex-direction: column;
  }
  .cart__pickup__input > .input > div {
    margin: 0 0 10px;
    width: 400px;
  }
  .cart__pickup__input > .input > div > label {
    margin-bottom: 15px;
    font-size: 1.1rem;
  }
  .cart__pickup__input > .input > div > input,
  .cart__pickup__input > .input > div > select {
    width: 100%;
  }

  /* final pickup address */
  .final__pickup__address > .pickup__address {
    flex-direction: column;
  }
  .final__pickup__address > .pickup__address > .left__side,
  .final__pickup__address > .pickup__address > .right__side {
    width: 100%;
  }
}

/* 480px */
@media only screen and (max-width: 480px) {
  /* empty cart */
  .empty__cart > h1 {
    color: #555555;
    margin-bottom: 30px;
    font-size: 1.7rem;
  }

  /* cart step 1 */
  .cart__step > h1 {
    font-size: 2rem;
  }

  /* cart table */
  .cart__table {
    padding: 30px 0;
    overflow-x: auto;
    width: 100%;
  }
  .cart__table > p {
    display: block;
  }
  .cart__table > table,
  .cart__table > table > tr,
  .cart__table > table > tr > th,
  .cart__table > table > tr > td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
  }
  .cart__table > table > tr > th {
    font-size: 1rem;
  }
  .cart__table > table > tr > td {
    font-size: 1rem;
  }
  .cart__table > h1 {
    flex-direction: column;
    font-size: 1.4rem;
  }
  .cart__table > h1 > span {
    margin-top: 15px;
    font-size: 1.5rem;
  }

  /* cart pickup input */
  .cart__pickup__input {
    margin: 50px 0 15px;
  }
  .cart__pickup__input > .input {
    flex-direction: column;
  }
  .cart__pickup__input > .input > div {
    margin: 0 0 10px;
    width: 330px;
  }

  /* final pickup address */
  .final__pickup__address > .pickup__address {
    width: 95%;
    padding: 20px;
  }
  .final__pickup__address > h1 {
    font-size: 1.7rem;
  }
  .final__pickup__address > .pickup__address {
    margin: 40px auto;
  }
  .final__pickup__address > .pickup__address > .left__side > p > span,
  .final__pickup__address > .pickup__address > .right__side > p > span {
    font-size: 1.15rem;
  }
}
