.dealer__settings__section > .settings__section {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: auto;
  width: 100%;
}
.dealer__settings__section > .settings__section > .settings__link {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 300px;
  text-decoration: none;
  margin: 30px 20px;
}
.dealer__settings__section > .settings__section > .settings__link > span {
  padding: 30px;
  box-shadow: -5px 5px 25px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 100%;
  height: 200px;
}
.dealer__settings__section
  > .settings__section
  > .settings__link
  > span
  > .MuiSvgIcon-root {
  font-size: 4rem;
  color: #56b124;
  margin-bottom: 15px;
}
.dealer__settings__section > .settings__section > .settings__link > span > p {
  font-size: 1.2rem;
  color: #777777;
  font-weight: bold;
}
.dealer__settings__section > .settings__section > .settings__link > h1 {
  color: #56b124;
  font-size: 1.7rem;
  margin-top: 30px;
}

/* 1024px */
@media only screen and (max-width: 1024px) {
  .dealer__settings__section > .settings__section > .settings__link {
    width: 25%;
    max-width: none;
  }
}

/* 768px */
@media only screen and (max-width: 768px) {
  .dealer__settings__section > .settings__section > .settings__link {
    width: 35%;
  }
}

/* 480px */
@media only screen and (max-width: 480px) {
  .dealer__settings__section > .settings__section > .settings__link {
    width: 70%;
    margin: 15px;
  }
}

/* 360px */
@media only screen and (max-width: 360px) {
  .dealer__settings__section > .settings__section > .settings__link {
    width: 80%;
  }
}
