/* navbar */
.navbar {
  width: 100%;
  margin: 10px 0;
}
.navbar > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  padding: 10px 50px;
  border-radius: 50px;
  background-color: #05242a;
}

/* logo */
.navbar > div > .logo {
  width: 180px;
}
.navbar > div > .logo > img {
  width: 100%;
}

/* navlist */
.navlist {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navlist > li,
.navlist > li > .signin {
  list-style: none;
  margin: 0 25px;
}
.navlink {
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
}
.active__navlink {
  padding: 20px 50px;
  background-image: url(../Image/button1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* menu */
.menu {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  display: none;
  cursor: pointer;
}

/* 1024px */
@media only screen and (max-width: 1024px) {
  /* navbar */
  .navbar {
    margin: 0;
    background-color: #05242a;
  }
  .navbar > div {
    padding: 20px 10px;
    background-image: none;
  }

  /* navlink */
  .navlist > li {
    margin: 0 20px;
  }
  .navlist > li > .navlink {
    font-size: 1rem;
  }
}

/* 768px */
@media only screen and (max-width: 768px) {
  /* logo */
  .navbar > div > .logo {
    width: 170px;
  }

  /* navlist */
  .navlist {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #fff;
    width: 50%;
    height: 100vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    z-index: 9;
  }
  .navlist__active {
    left: 0;
  }
  .navlist > li {
    margin: 40px 0;
  }
  .navlist > li > .navlink {
    color: #000;
    font-weight: bold;
    font-size: 1.15rem;
  }

  /* menu */
  .menu {
    display: block;
  }
}

/* 480px */
@media only screen and (max-width: 480px) {
  /* navbar */
  .navbar > div {
    width: 100%;
    padding: 20px 25px;
  }

  /* logo */
  .navbar > div > .logo {
    width: 160px;
  }

  /* navlist */
  .navlist {
    width: 70%;
  }
}

/* 360px */
@media only screen and (max-width: 360px) {
  /* navbar */
  .navbar > div {
    padding: 15px 20px;
  }

  /* logo */
  .navbar > div > .logo {
    width: 150px;
  }

  /* navlist */
  .navlist > li {
    margin: 35px 0;
  }
}
