.user__dealer__pickup {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: auto;
  width: 100%;
}
.user__dealer__pickup > p {
  font-size: 1.1rem;
}
